<!DOCTYPE html>
<html>
  <head>
    <title>RepoTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="display: inline-block; margin:10px;">
      <%= button_to 'Login', '/auth/auth0', method: :post %>
    </div>
    <div style="display: inline-block; margin:10px;">
      <%= button_to 'Logout', '/auth/logout', method: :get %>
    </div>
    <%= yield %>
  </body>
</html>
